<div class="navigation-bar">
  <h1>Todo App</h1>
</div>

<div class="main-container">
  <div class="create-todo-container">
    <input
      type="text"
      [(ngModel)]="newTodoText"
      placeholder="Enter your task..."
    />
    <button (click)="handleAddNewTodoClick()" class="btn">
      Create a new todo
    </button>
  </div>
  <div class="box-container">
    <ng-template ngFor let-todo [ngForOf]="todos">
      <app-todo-item [todo]="todo" (changedEvent)="_refresh()"></app-todo-item>
    </ng-template>
  </div>
</div>
